@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Aladin&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

body{
  background-color: #201F1F;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
/* @media(max-width:500px){
  #svg{
    display: none;
  }
} */